
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="peopleController as pplCtrl">
    <h2>People Index Daniel</h2>

    <table class="table">
        <thead>
            <tr>
                <td>
                    <a class="btn btn-primary" href="/People/Create">Create</a>
                </td>
            </tr>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in pplCtrl.items">
                <td>{{item.id}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="pplCtrl.edit(item)">Edit</button>
                    <button type="button" class="btn btn-secondary" ng-click="pplCtrl.delete(item)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        (function () {
            angular.module("myApp")
                .factory('$peopleService', PeopleService)

            PeopleService.$inject = ['$http'];

            function PeopleService($http) {
                return {
                    getPeople: _getPeople,
                    deletePerson: _deletePerson

                };

                function _deletePerson(id) {
                    return $http.delete("/api/people/" + id)
                        .then(onSuccessDeletePerson)
                        .catch(onError);
                }


                function _getPeople() {
                    console.log("getting people...");
                    return $http.get('/api/people')
                        .then(onSuccessGetPeople)
                        .catch(onError);
                }

                function onSuccessGetPeople(response) {
                    console.log("successfully receieved data");
                    return response.data;
                }
                function onSuccessDeletePerson(response) {
                    console.log("deleted")
                    return response.data;
                }
                function onError() {
                    console.log("Sucks");
                }
            }
        })();
    </script>


    <script type="text/javascript">
        (function () {
            angular.module('myApp')
                .controller("peopleController", PeopleController)
            PeopleController.$inject = ['$scope', '$peopleService'];

            function PeopleController($scope, $peopleService) {
                var vm = this;
                vm.$scope = $scope;
                vm.$peopleService = $peopleService;

                vm.items = null;
                vm.getPeople = _getPeople;
                vm.item = null;
                vm.edit = _edit;
                vm.delete = _delete;
                vm.deleteItem = null;


                render();

                function render() {
                    console.log("rendering...")
                    return vm.getPeople()
                        .then(onCompleteGetPeople)
                }

                function _getPeople() {
                    return $peopleService.getPeople()
                        .then(fillPeopleItems)
                }
                function fillPeopleItems(data) {
                    console.log("u made it inside fill people");
                    vm.items = data;

                }
                function onCompleteGetPeople() {
                    console.log("on complete get people");
                }
                function _edit(data) {
                    self.location = "/People/" + data.id + "/edit";
                }

                function _delete(item) {
                    vm.deleteItem = item;
                    return $peopleService.deletePerson(vm.deleteItem.id)
                        .then(deletePersonSuccess)
                }
                function deletePersonSuccess(data) {
                    console.log(data);
                    if (data.isSuccessful == true) {
                        var index = vm.items.indexOf(vm.deleteItem);
                        vm.items.splice(index, 1);
                    }
                }
            }
        })();



        function addLetter(letter) {
            $("#result").html($('#result').html() + letter);
        }

        $(window).load(function () {
            addLetter('a')
        })

        $(function () {
            addLetter('b');
        })

        $(window).on("load", function () {
            addLetter('c');
        })

        $(document).ready(function () {
            addLetter('d');
        })
    </script>
}
